@import "reset.css";
@import "fonts.css";

div, section ::before, ::after {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
    position: relative;
}

.header {
    background: #dcdcdc;
    height: 230px;
    padding-left: 10px;
    padding-right: 10px;
}

.header__content {
    margin: 0 auto;
    width: 980px;
    display: flex;
    justify-content: space-between;
}

.header__content--logo img{
    width: 275px;
    height: 100px;
    margin-top: 65px;
}

.header__content--info {
    margin-top: 45px;
}

.header__content--info__phones {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    color: #7d7d7d;
    /*padding-bottom: 22px;*/
}

.header__content--info__phones div:nth-child(1) {
    margin-bottom: 7px;
}

.header__content--info__link {
    font-size: 24px;
    color: #767676;
    margin-top: 10px;
}

.header__content--info__link a {
    border-bottom: 2px dashed #767676;
    float: right;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: #767676;
}

.menu {
    background: #777777;
    color: #ffffff;
    height: 72px;
    z-index: 7;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.menu__content {
    margin: 0 auto;
    width: 980px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.menu__content a, .menu__content div {
    margin-top: 20px;
}

.menu__content a:hover {
    border-bottom: 2px solid #ffffff;
    cursor: pointer;
}

.slider__content {
    position: relative;
    /*z-index: 5;*/
}

.slider__content--frame {
    display: none;
}

.slider__content--frame img {
    margin: -70px auto 0;
}

.slider__content--frame_active {
    display: flex;
}

.slider-arrow {
    width: 16px;
    height: 40px;
    position: absolute;
    top: 19%;
    margin-top: 10px;
    cursor: pointer;
    z-index: 10;
}

.slider-arrow--left {
    left: 13%;
}

.slider-arrow--right {
    right: 13%;
}

.content {
    padding-left: 10px;
    padding-right: 10px;
}

.content__content {
    margin: 0 auto;
    width: 980px;
    padding: 10px;
}

.content__content--way {
    width: auto;
    justify-content: flex-start;
    display: flex;
}

.content__content--way div {
    margin-left: 7px;
    margin-right: 7px;
}

.content__content--way a {
    cursor: pointer;
    text-decoration: underline;
    color: #767676;
}

.content__content--way a:last-child {
    text-decoration: none;
    cursor: default;
}

.content__content--catalog {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
}

.content__content--catalog__menu-list a{
    font-size: 18px;
    color: #767676;
    width: 187px;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.menu-list__sub-menu li {
    list-style: disc;
    margin-left: 25px;
    line-height: 18px;
}

.catalog__menu-list--sub-menu {
    overflow: hidden;
    position: relative;
    height: 0;
    transition: height 0.5s;
}

.menu-list__sub-menu {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.menu-list__sub-menu--item {
    color: #8d8d8d;
}

.menu-list__sub-menu--item:hover {
    text-decoration: underline;
    color: #010101;
    cursor: pointer;
}

.content__content--catalog__menu-list > li {
    list-style: none;
}

.content__content--pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.content__content--pagination a {
    margin: 10px;
    cursor: pointer;
}

.content__content--pagination a:hover {
    font-weight: 600;
}

.catalog__menu-list--price-list {
    color: #000;
    font-weight: 600;
    margin: 105px auto 0;
}

.content__content--catalog__menu-list a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.content__content--catalog__menu-items {
    width: 767px;
}

.content__container--menu-items {
    display: flex;
    flex-wrap: wrap;
}

.catalog__menu-item {
    width: 243px;
    height: 380px;
    background: #dcdcdc;
    padding: 17px;
    margin: 6px;
}

.catalog__menu-item--image {
    height: 210px;
    width: 210px;
    background: #ffffff;
}

.catalog__menu-item--description {
    width: 210px;
    padding-top: 20px;
    font-size: 18px;
    color: #7e7e7e;
}

.catalog__menu-item--foot {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.catalog__menu-item--foot__price {
    color: #444444;
    font-size: 28px;
}

.catalog__menu-item--foot__basket {
    cursor: pointer;
}

.content__content--hr {
    margin-top: 60px;
}

.content__content--catalog__textareas {
    display: flex;
    justify-content: space-between;
    color: #767676;
    line-height: 22px;
    margin-top: 30px;
    margin-bottom: 200px;
}

.content__catalog--textarea {
    width: 365px;
}

.footer {
    background: #767676;
    color: #ffffff;
    height: 180px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
}

.footer__content {
    margin: 0 auto;
    width: 980px;
    display: flex;
    justify-content: space-between;
}

.footer__item {
    width: 230px;
}

.footer__logo-text {
    display: flex;
    justify-content: space-between;
}

.footer__item--text {
    margin-left: 10px;
}

.footer__menu {
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    line-height: 22px;
}

.footer__menu a {
    text-decoration: underline;
    cursor: pointer;
}

.modal-window {
    display: none;
    /*transition: 0.3s;*/
    background: #ffffff;
    position: fixed;
    left: 40%;
    top: 25%;
    margin-left: -100px;
    margin-top: -75px;
    width: 465px;
    height: 576px;
    z-index: 110;
}

.fadeIn{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: .5s;
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

.fadeOut{
    animation-name: fadeOut;
    -webkit-animation-name: fadeOut;
    animation-duration: .5s;
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

.dark {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 100;
}

.underline_text {
    text-decoration: underline;
    cursor: pointer;
}

.feedback__header {
    font-size: 24px;
    margin-top: 30px;
    color: #535353;
    display: flex;
    justify-content: center;
}

.feedback__header, #btn_submit {
    text-transform: uppercase;
    font-weight: bold;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    font-size: 14px;
}

.feedback__form input:not(#btn_submit) {
    width: 340px;
    height: 40px;
    margin: 0 auto 20px;
    padding-left: 10px;
    outline:none;
}

#phone::-webkit-outer-spin-button,
#phone::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.feedback__form label {
    margin: 0 auto;
    color: #535353;
}

.feedback__form textarea {
    width: 340px;
    height: 140px;
    border: #c3c3c3 1px solid;
    margin: 0 auto 20px;
    padding: 10px;
    outline:none;
}

#btn_submit {
    padding-top: 5px;
    font-size: 17px;
    color: #ffffff;
    background: #777777;
    margin: 0 auto;
    border: 1px solid #858585;
    height: 40px;
    width: 128px;
    transition: 0.3s;
}

#btn_submit:hover {
    transform: scale(.9);
}

.feedback__close {
    position: absolute;
    background: #777777;
    color: #ffffff;
    width: 25px;
    height: 25px;
    top: -25px;
    right: -25px;
    padding: 1.4%;
    cursor: pointer;
}

.empty_field {
    box-shadow: inset 0 0 15px red;
}

@keyframes fadeIn {
    0% {opacity: 0.0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}